mixin select(plh="Пример заполнения", inpName = 'input_name', label="Название поля")
	.form-item&attributes(attributes)
		label #{label}
		.dropdown
			button.dropdown__button(type="button")
				span #{plh}
			.dropdown__list
				ul
					li.dropdown__list-item(data-value="Пример заполнения 1") Пример заполнения 1
					li.dropdown__list-item(data-value="Пример заполнения 2") Пример заполнения 2
					li.dropdown__list-item(data-value="Пример заполнения 3") Пример заполнения 3
					li.dropdown__list-item(data-value="Пример заполнения 4") Пример заполнения 4

			//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
			input.dropdown__input-hidden(type="text", name=""+ input_name)
mixin select2(plh="Пример заполнения", inpName = 'input_name')
	.form-item&attributes(attributes)
		.dropdown
			button.dropdown__button(type="button")
				span #{plh}
			.dropdown__list
				ul
					li.dropdown__list-item(data-value="Пример заполнения 1") Пример заполнения 1
					li.dropdown__list-item(data-value="Пример заполнения 2") Пример заполнения 2
					li.dropdown__list-item(data-value="Пример заполнения 3") Пример заполнения 3
					li.dropdown__list-item(data-value="Пример заполнения 4") Пример заполнения 4

			//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
			input.dropdown__input-hidden(type="text", name=""+ input_name)
mixin form-item( label="Введите логин", inpName="name")
	.form-item
		label #{label}
		.form-input
			input(type="text" name=""+ inpName placeholder="Пример заполнения")

mixin form-item-error( label="Введите логин", inpName="name")
	.form-item
		//======Если к классу tooltip добавить класс tooltip--right, то расположение подсказки будет с правой стороны от иконки======
		.tooltip
			.tooltip-icon
				+svg-icon('info')
			.tooltip-box
				p Текст ошибки в несколько строк, например, неправильный ввод E-mail.
		label #{label}
		.form-input
			input.error(type="text" name=""+ inpName placeholder="Пример заполнения")

mixin form-item-passw
	.form-item
		label Введите пароль
		.form-input.form-input--pass
			span.input-icon
				+svg-icon('eye')
			input(type="password" name="user_pass" placeholder="Введите пароль")